<header>
    <nav class="navbar navbar-dark navbar-expand-sm bg-body-tertiary cabecalho">
        <div class="container-fluid">
            <a class="navbar-brand cabecalho__logo" href="#">
                <i class="fa-solid fa-rectangle-list"></i>
                Make It List
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link cabecalho__link" href="/">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cabecalho__link" href="/lista">Minhas Listas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cabecalho__link" href="/usuario">
                            <i class="fa-solid fa-user"></i>
                            Meu perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cabecalho__link" href="/auth/logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Sair
                        </a>
                    </li>
                    <%#
                        O dropdown está bugando, corrigir depois
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle cabecalho__link" href="#" role="button" data-bs-display="static"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eu
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/usuario">Meu perfil</a>
                                <a class="dropdown-item" href="/auth/logout">Sair</a>
                            </div>
                        </li>
                    %>
                </ul>
            </div>
        </div>
    </nav>
</header>