<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Make It List - Editar Item</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="manifest" href="/manifest.json" />
    <%- include('../partials/styles') %>
</head>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <article>
            <!-- Coloque aqui o conteúdo central da página -->
        </article>
    </main>

    <%- include('../partials/scripts') %>

</body>

</html>