<div class="modal fade" id="modalEditarItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalEditarItemLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered align-items-end">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditarItemLabel">Editar item</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formEditarItem" class="formulario formulario--pequeno p-0 needs-validation"
          onsubmit="editarItem(event)" novalidate>
          <input name="id" type="hidden" />
          <input name="listaId" type="hidden" />
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nome" id="formEditarItemNome"
              placeholder="Digite o nome do item" required />
            <label for="formEditarItemNome">Nome</label>
            <div class="invalid-feedback">
              Campo obrigatório!
            </div>
          </div>
          <div class="d-flex align-items-center mb-3" style="gap:5px">
            <div class="form-floating flex-fill">
              <input type="number" class="form-control" name="quantidade" id="formEditarItemQuantidade" value="0"
                placeholder="Digite a quantidade do item" required />
              <label for="formEditarItemQuantidade">Quantidade</label>
              <div class="invalid-feedback">
                Campo obrigatório!
              </div>
            </div>
            <div class="d-flex align-items-center" style="gap:5px">
              <button type="button" class="btn btn-sm btn-danger" style="border-radius:100%;height:40px;width:40px;"
                onclick="diminuirInput('formEditarItemQuantidade')">
                <i class="fa-solid fa-minus"></i>
              </button>
              <button type="button" class="btn btn-sm btn-success" style="border-radius:100%;height:40px;width:40px;"
                onclick="aumentarInput('formEditarItemQuantidade')">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input data-bs-keyboard="" type="number" class="form-control" name="preco" id="formEditarItemPreco"
              value="0.00" min="0.00" step=".01" placeholder="Digite o preço do item" required />
            <label for="formEditarItemPreco">Preço (R$)</label>
            <div class="invalid-feedback">
              Campo obrigatório!
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="border:none" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn botao" onclick="submitForm('formEditarItem')">Salvar</button>
      </div>
    </div>
  </div>
</div>