<div class="modal fade" id="modalCriarItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCriarItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered align-items-end">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalCriarItemLabel">Criar item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="formCriarItem" class="formulario formulario--pequeno p-0 needs-validation" onsubmit="criarItem(event)" novalidate>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o nome do item" required />
              <label for="nome">Nome</label>
              <div class="invalid-feedback">
                Campo obrigatório!
              </div>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="quantidade" value="0" placeholder="Digite a quantidade do item" required />
                <label for="quantidade">Quantidade</label>
                <div class="invalid-feedback">
                  Campo obrigatório!
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="preco" value="0.00" min="0.00" step=".01" placeholder="Digite o preço do item" required />
                <label for="preco">Preço (R$)</label>
                <div class="invalid-feedback">
                  Campo obrigatório!
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn botao" onclick="submitForm('formCriarItem')">Criar</button>
        </div>
      </div>
    </div>
  </div>