<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Make It List - Criar Lista</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/styles/module/Formulario.css" />
    <%- include('../partials/styles') %>
</head>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <article class="px-3">
            <section>
                <div>
                    <div class="d-flex align-items-center mt-3 mb-3">
                        <a class="btn btn-ligth" href="/lista">
                            <i class="fa-solid fa-left-long"></i>
                        </a>
                        <h3 class="m-0">Criar lista</h3>
                    </div>
                    <hr />
                </div>
                <div class="container p-0">
                    <form class="formulario formulario--pequeno p-0 needs-validation" onsubmit="criarLista(event)" novalidate>
                        <div class="h5 text-center mb-4">
                            Crie uma nova
                            <span style="color:#7F07F0">
                                lista
                                <i class="fa-solid fa-rectangle-list"></i>
                            </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Digite um título para a lista" required />
                            <label for="titulo">Digite um título para a lista</label>
                            <div class="invalid-feedback">
                              Campo obrigatório!
                            </div>
                        </div>
                        <button type="submit" class="btn formulario__botao formulario__botao--enviar">Criar</button>
                    </form>
                </div>
            </section>
        </article>
    </main>

    <%- include('../partials/scripts') %>

    <script>
        function criarLista(e) {
            e.preventDefault()

            e.target.classList.add("was-validated")

            var titulo = document.getElementById("titulo").value

            if (e.target.checkValidity()) {
                $.ajax({
                    url: "/lista/criar/",
                    type: "post",
                    data: JSON.stringify({
                        titulo: titulo
                    }),
                    contentType: "application/json"
                }).done(function () {
                    Swal.fire({
                        title: "Sucesso",
                        text: `A lista "${titulo}" foi criada com sucesso!`,
                        icon: "success"
                    }).then(function () {
                        window.location.href = "/lista"
                    })
                }).fail(function () {
                    Swal.fire({
                        title: "Erro",
                        text: "Ocorreu um erro ao criar a lista!",
                        icon: "error"
                    }).then(function () {
                        window.location.reload()
                    })
                })
            }
        }
    </script>

</body>

</html>